################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/prog6/v16/Server/sqlite3/db.lock
/beestje_eindopdracht/.vs/beestje_eindopdracht/v16/Server/sqlite3/db.lock
/beestje_eindopdracht/beestje_eindopdracht.Database/beestje_eindopdracht.Database.dbmdl
*.ide-shm
*.ide-wal
*.ide-shm
*.ide
*.ide
beestje_eindopdracht/.vs/beestje_eindopdracht/v16/.suo
*.config
*.ide-shm
beestje_eindopdracht/.vs/beestje_eindopdracht/v16/.suo
*.ide-wal
beestje_eindopdracht/beestje_eindopdracht.Database/obj/Debug/beestje_eindopdracht.Database.sqlproj.FileListAbsolute.txt
*.dll
*.pdb
*.txt
*.pdb
*.jfm
beestje_eindopdracht/beestje_eindopdracht.Database/obj/Debug/beestje_eindopdracht.Database.sqlproj.FileListAbsolute.txt
beestje_eindopdracht/.vs/beestje_eindopdracht/v16/.suo
*.dll
*.pdb
*.dacpac
beestje_eindopdracht/.vs/beestje_eindopdracht/v16/.suo
*.config
beestje_eindopdracht/.vs/beestje_eindopdracht/v16/.suo
*.dacpac
*.dll
*.pdb
*.pdb
*.sqlproj
*.txt
