################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/prog6/v16/Server/sqlite3/db.lock
/beestje_eindopdracht/.vs/beestje_eindopdracht/v16/Server/sqlite3/db.lock
