################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/beestje_eindopdracht/.vs/
/.vs/
/beestje_eindopdracht/beestje_eindopdracht.Database/beestje_eindopdracht.Database.dbmdl
/beestje_eindopdracht/beestje_eindopdracht/obj/Debug/beestje_eindopdracht.csprojAssemblyReference.cache
