@{
    ViewBag.Title = "Home Pagina";
}

<h1>Acties</h1>
<div class="jumbotron">
    <p><a href="/Boeking" class="btn btn-primary btn-lg">Boeking doen &raquo;</a></p>
</div>

<div class="jumbotron">
    <p><a href="/Beestjes" class="btn btn-primary btn-lg">Beestjes beheren &raquo;</a></p>
</div>

<div class="jumbotron">
    <p><a href="/Accessoires" class="btn btn-primary btn-lg">Accessoires beheren &raquo;</a></p>
</div>
